###############################################################################
# HOST DEFINITIONS
###############################################################################

define host {
    use                     linux-server
    host_name               azure-vm1
    alias                   Azure Virtual Machine 1
    address                 VM1_IP_PLACEHOLDER
    max_check_attempts      5
    check_period            24x7
    notification_interval   30
}

define host {
    use                     linux-server
    host_name               azure-vm2
    alias                   Azure Virtual Machine 2
    address                 VM2_IP_PLACEHOLDER
    max_check_attempts      5
    check_period            24x7
    notification_interval   30
}

###############################################################################
# SERVICE DEFINITIONS
###############################################################################

# HTTP Check
define service {
    use                     generic-service
    host_name               azure-vm1
    service_description     HTTP Check
    check_command           check_nrpe!check_http
}

define service {
    use                     generic-service
    host_name               azure-vm2
    service_description     HTTP Check
    check_command           check_nrpe!check_http
}

# CPU Load
define service {
    use                     generic-service
    host_name               azure-vm1
    service_description     CPU Load
    check_command           check_nrpe!check_load
}

define service {
    use                     generic-service
    host_name               azure-vm2
    service_description     CPU Load
    check_command           check_nrpe!check_load
}

# Disk Usage
define service {
    use                     generic-service
    host_name               azure-vm1
    service_description     Disk Usage
    check_command           check_nrpe!check_disk
}

define service {
    use                     generic-service
    host_name               azure-vm2
    service_description     Disk Usage
    check_command           check_nrpe!check_disk
}
